<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<add key="mssql_cnstr" value=" Server = LAPTOP - RL3S5CVA; Database =Library_System; Integrated Security =True;" />

	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>